Ritmo/.vs
Ritmo/Ritmo/obj/Debug/Ritmo_MarkupCompile.i.lref
Ritmo/Ritmo/obj/Debug/Ritmo_MarkupCompile.i.cache
Ritmo/Ritmo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Ritmo/Ritmo/obj/Debug/Ritmo_MarkupCompile.lref
Ritmo/Ritmo/obj/Debug/Ritmo_MarkupCompile.cache
Ritmo/Ritmo/obj/Debug/Ritmo.csprojAssemblyReference.cache
Ritmo/Ritmo/obj/Debug/Ritmo.csproj.CoreCompileInputs.cache
Ritmo/Ritmo/obj/Debug/MainWindow.g.cs
